.header
{ 
    display: flex;
    flex-direction: row;
    background-color: #2A3B7A;
}
body
{
    background-color: #c1dff0;
    font-family: 'McLaren', sans-serif;
}

.flex-contenant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 2px;

}

.flex-contenant > div
{
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.Pensionnaires
{
    border-radius: 21px 21px 21px 21px;
    background-color: #DFBC85;
}

.Pensionnaires .age
{
    float: right;
    padding-right: 25px;
}

.Pensionnaires .Descriptions
{
  padding-left: 50px;
  justify-content: space-around;
  margin-top: 2px;
  padding-bottom: 6px;
}


.NomPensionnaires
{
    display: block;
    text-align: center;
    width: 100%;
}

.Images
{
    border-radius: 21px 21px 0px 0px;
    width: 300px;
    height: 300px;
}

h1
{
    text-align: center;
}