.header
{ 
    display: flex;
    flex-direction: row;
    background-color: #2A3B7A;
    justify-content: space-between;
}

.header > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-right: 60px;
    gap: 20px;
}

.logo
{
    margin-bottom: 1%;
}
.Liens
{
    color: white;
    font-size: 20px;
}

a
{
    text-decoration: none;
}

body
{
    background-color: #c1dff0;
    font-family: 'McLaren', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.texte-centre
{
    text-align: center;
}

.flex-contenant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 10px;
    padding-top: 2px;
    max-width: 1550px;
    margin: auto;

}

.flex-contenant > div
{
    justify-content: center;
    margin: 5px 20px 5px 5px;
}

.Pensionnaires
{
    border-radius: 21px 21px 21px 21px;
    background-color: #DFBC85;
}

.Pensionnaires .age
{
    float: right;
    padding-right: 25px;
}

.Pensionnaires .Descriptions
{
  padding-left: 50px;
  justify-content: space-around;
  margin-top: 2px;
  padding-bottom: 6px;
  margin-bottom: 0px;
}

.CriteresSpeciaux
{
    text-align: left;
    color: #2A3B7A; 
    margin: 0px;
    padding-left: 10px;
}

.NomPensionnaires
{
    display: block;
    text-align: center;
    width: 100%;
}

.Images
{
    border-radius: 21px 21px 0px 0px;
    width: 350px;
    height: 350px;
}

h1
{
    text-align: center;
}

.form-flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom:20px;
    padding-top: 20px;
    max-width: 1550px;
    margin: auto;
}

.Reponse
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
}


.form-ligne
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.espace
{
    padding-left: 600px;
}

.espace-tel
{
    padding-left: 470px;  
}

.ligne{
    width: 100%;
}

label 
{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 10px;

}

#firstname
{
    width: 175px;
    height: 36px;
}
#lastname
{
    width: 175px;
    height: 36px;
}
#NumPhone
{
    width: 175px;
    height: 36px;
}

#email
{
    width: 329px;
    height: 36px;
}



.bouton
{ 
    border-radius: 15px;
    background-color: #DFBC85;
    padding: 30px 60px;
    font-size: 25px;
    font-family: 'McLaren', sans-serif;
}
.bouton:hover {
    background-color: #e2b670;
    color: white;
  }

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

.Video
{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;

}

.champs-texte
{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Commentaire
{

    width: 329px;
    height: 36px;
}


.center
{
    margin: 0 auto;
}

.div-nos-animaux
{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 350px;
    width: 100%;
}
.div-nos-animaux button
{
 display: block;
 margin: 0 auto;
}
.div-nos-animaux > div
{
 width: 100%;
}
.div-nos-animaux > div:nth-child(1)
{
    display: flex;
    justify-content: left;
}
.div-nos-animaux > div:nth-child(2)
{
    margin: auto;
}
.div-nos-animaux > div:nth-child(3)
{
    display: flex;
    justify-content: right;
}

.Pattes
{

    width: 164.84px;
    height: 211px;
    padding-top: 40px;
}


.Footer
{
    display: flex;
    flex-direction: row;
    background-color: #2A3B7A; 
    justify-content: space-between;

}
.Footer > div
{
    justify-content: center;
    margin: auto 20px 5px 20px;
}
.Reseaux
{
    display: flex;
    padding-bottom: 20px;
}

.Reseaux > div
{
    justify-content: center;
    margin: 5px 20px 5px 5px;
}

.ligne-information img
{
 display: inline-block;
 vertical-align: sub;
}
.ligne-information span
{
 color: white;
 padding-left: 15px;
}

.informations > div
{
    padding-bottom: 30px;
}

.Horaire
{
    color : white;
}

.Horaire > div
{
    text-align: center;
    margin: 1px;
}